.range {
  flex: 2 0;
  text-align: center;
  align-items: center;
  min-height: 48px;
  padding: 0 9px;
}

.range ::ng-deep .ng5-slider {
  margin: 0;
}

.range ::ng-deep .ng5-slider-pointer {
  width: 12px;
  height: 12px;
  top: -5px;
  background-color: #ea3455;
  outline: none;
}

.range ::ng-deep .ng5-slider-pointer::after {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1), opacity .4s cubic-bezier(.25, .8, .25, 1);
}

.range ::ng-deep .ng5-slider-pointer.ng5-slider-active::after {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(255, 64, 129, .2);
}

.range ::ng-deep .ng5-slider-bar-wrapper {
  height: auto;
  padding: 0;
  margin: 0;
}

.range ::ng-deep .ng5-slider-selection {
  background-color: #ea3455;
}

.range ::ng-deep .ng5-slider-bar {
  height: 2px;
}

.range .ng5-slider[disabled] ::ng-deep .ng5-slider-pointer {
  background-color: #C4C4C4;
}

.range .ng5-slider[disabled] ::ng-deep .ng5-slider-selection {
  background-color: #C4C4C4;
}

.range .ng5-slider[disabled] ::ng-deep .ng5-slider-bar {
  background-color: #C4C4C4;
}